*{

	margin:  0;
	padding: 0;

}

#contenedor{ 
	width: 100%;
	height: 1000px;
	
	
	 }


#cabecera{
	background: rgb(101,101,101);
background: linear-gradient(90deg, rgba(101,101,101,1) 0%, rgba(0,0,0,1) 50%);
height: 12%;
}

header{position:  relative;

	
	
	height:100%;
	width: 40%;
	float: left;
	
	 
}

	  #logoimg{
		  height: 90%;
		  width: 22%; 
		  float: left;
		
		  margin-left: 20px;
		
		  


	  }
	  #logotxt{
		height: 60%;
		width: 60%; 
		float: left;
		margin-top: 40px;




	  }

nav{ position:  relative;
	height:100%;
	width: 60%;
	float: right;
	
  


}

#contactinfo{
	
		
	height: 50%;
	width: 80%;
	bottom: 20%;
	border-radius: 1em;
	background: #FFFFFF;
	float: right;		 
	margin-top: 30px;
	margin-right: 50px;

}
nav p{
width: 15%;
height: 60%;
float: left;
margin: 0px 0px 25px 0px;
text-align:center;
padding-top: 12px;
padding-bottom: 12px;
font-family: sans-serif;
color: black;
font-weight: bold;
}
nav p:hover{
background:#000000;
color: #FFFFFF;


}

#icons{
width: 25%;
height: 100%;
float: right;
margin: auto auto auto auto;
padding-right: 20px ;
background:#ffffff;
border-top-right-radius:    1em;
border-bottom-right-radius: 1em;
filter: invert(0%);
}

#icons:hover{
	filter: invert(100%);
border-top-right-radius:    1em;
border-bottom-right-radius: 1em;
}


.icon{
float: right;
margin: 20px 5px 20px 5px;
display:block;
}

aside{ height: 500%;
	width: 15%;
	background: #CACACA; 
	position: relative;

	
	float: left;}

	main{
		border-left: red 200px solid;	
		padding-left: 200px;
		

	}



.games{
	position: relative;
	float:right;
}
